.chart path {
  stroke: blue;
  stroke-width: 2;
  fill: #ffc000;
  fill-opacity: 0.5;
  //marker-mid: url('#chartMarker');
}

.marker {
  fill: blue;
}

.link {
  stroke: #008000;
  stroke-width: 1;
  stroke-dasharray: 5;
  fill: none;
  marker-end: url('#linkArrow');
}

.tick {
  stroke: #808080;
  stroke-width: 0.5;
  stroke-dasharray: 3;
  fill: none;
}

.background {
  fill: #dddddd;
}

.dragged {
  fill: #dddd80;
}
